<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<a href="https://dataplatform.cloud.ibm.com/gallery">IBM Cloud Gallery</a>

# Data Science Tools and Ecosystem

**Introduction**

This notebook is explaining data science ecosystem with different aspects.

**Objectives**
- List popular languages for Data Science.
- List some of popular Python libraries commonly used in Data Science.
- Table showing open source Data science commonly used tools.
-

**Data Science Languages such as:**
1. Python
2. R
3. SQL
4. Scala
5. C/C++
6. Java 
7. Javascript

**Data Science Libraries in Python such as:**

1. Pandas
2. Numpy
3. Tensorflow
4. Keras
5. Seaborn
6. Matplotlib
7. Beautiful soap

**Data Science Tools Table**

| Data Management | Data Integration & Transformation | Data Visualization | Model Deployment |
| :-: | :-: | :-: | :-: |
| MySQL | Apache Kafka | kibana | mleap |
| hadoop HDFS | Apache Airflow | superset | Prediction IO |
| CouchDB | Kubeflow | Hue | SELDON |

**Arithmatic Expression Example**

1 + 1 

3 - 1

x * y

In [9]:
# This simple expression to show how to multiply then add integers
x = 1
y = 2
(x*y)+5

7

In [10]:
# This will convert 160 minutes to hours by dividing by 60
minutes = 120
hours = minutes/60
print(hours)

2.0



*Created By*
***
## Ahmed Hassan Mohamed